* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}
body {
  background-color: #131313;
}
html {
  scroll-behavior: smooth;
}
header {
  background-color: #131313;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
header .container {
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
header h1 {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  color: #86f287;
}
header nav {
  display: flex;
  align-items: center;
  gap: 69px;
  flex-direction: row;
  display: grid;
  grid-template-columns: repeat(3, auto);
}
header nav a {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}
header nav a:hover {
  color: #86f287;
}
@media (max-width: 768px) {
  header nav {
    display: none;
  }
}
/* Navigation Button */
button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.nav-button {
  --button-color: #fff;
}
.nav-button:hover {
  --button-color: #86f287;
}
.nav-button .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}
.nav-button[aria-expanded="true"] .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}
.nav-button[aria-expanded="true"] :is(.top, .bottom) {
  y: 45px;
}
.nav-button[aria-expanded="true"] .top {
  rotate: 45deg;
}
.nav-button[aria-expanded="true"] .middle {
  opacity: 0;
}
.nav-button[aria-expanded="true"] .bottom {
  rotate: -45deg;
}
@media (min-width: 768px) {
  .nav-button {
    display: none;
  }
}
/* mobile nav menu*/
.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #131313;
  padding-top: 150px;
  transition: all 0.3s ease;
}
.mobile-nav a {
  display: block;
  text-align: center;
  width: fit-content;
  margin: 0 auto 16px;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  padding: 30px 0px;
}
.mobile-nav[aria-expanded="true"] {
  left: 0%;
}
.mobile-nav[aria-expanded="false"] {
  left: 100%;
}
.mobile-nav a:hover {
  color: #86f287;
  background-color: #444444;
  width: 100%;
}
/* sections content */
.about .container {
  padding-top: 150px;
  padding-bottom: 100px;
  max-width: 1600px;
  justify-content: center;
  margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.aboutpic {
  width: 300px;
  height: 300px;
  margin: 0 20px 20px 0;
  border-radius: 50%;
  border: 5px solid #86f287;
  box-shadow: 0 0 0 5px #444444;
   align-items: center;
    justify-content: center;
    display: flex;

    flex-direction: column;
    margin: 0 auto;

}

.about h2 {
  font-size: 64px;
  font-weight: 700;
  text-transform: uppercase;
  color: #86f287;
  padding: 20px;
  text-shadow: #7c7c84 0px 2px 0px;
  margin-bottom: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
}
.about p {
  font-size: 24px;
  font-weight: 400;
  color: #ded3da;
  line-height: 1.5;
  border-style: double;
  border-width: 2px;
  border-color: #109c11;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
footer .container {
  display: flex;
  justify-content: space-evenly;
}
/* social icons */
.fa {
  padding: 20px;
  font-size: 50px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
}
.fa:hover {
  color: #86f287;
}
/* color refs #109c11 #86f287  #136813 #7c7c84 #a7a7a7 
#444444 #131313 */
